WHISPER_DEVICE=auto
WHISPER_MODEL_DIR=/models/whisper
WHISPER_CACHE_DIR=${HOME}/.cache/whisper
WHISPER_OPENAI_PUBLIC_PATCH_FILE=/home/media4cast/.local/share/pipx/venvs/whisper-timestamped/lib/python3.12/site-packages/tiktoken_ext/openai_public.py
